body {
  background-color: #ededed;
}

.app {
  background-color: #ededed;
  color: #777;
}
.app .page-title {
  margin: 2em auto 1em;
}
.app .searchbar {
  padding: 0.3em;
  font-size: 1em;
  font-weight: bold;
  color: #777;
  background-color: #ededed;
  border: 1px solid #777;
  margin: 2em auto;
}
.app .pokemon-profile {
  height: 20rem;
}
.app .pokemon-profile .pokemon-image {
  margin: 0 auto;
  padding: 0;
  width: 50%;
}
.app ul.pokemon-list {
  list-style-type: none;
  margin: 0;
  padding: 0 0 3em;
}
.app ul.pokemon-list li {
  display: inline-block;
  text-align: center;
}
.app .pagination {
  margin: 2em 0 0 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}
.app .pagination li {
  display: inline-block;
  width: 50%;
  margin: 0;
  padding: 0;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
