$background-color: #ededed;
$font-color: #777;

$theme-colors: (
  "primary": #03743a
);

body {
  background-color: $background-color;
}


.app {
  background-color: $background-color;
  color: $font-color;
  
  .page-title {
    margin: 2em auto 1em;
  }
  
  .searchbar {
    padding: .3em;
    font-size: 1em;
    font-weight: bold;
    color: $font-color;
    background-color: $background-color;
    border: 1px solid $font-color;
    margin: 2em auto;

  }
  
  .pokemon-profile {
    height: 20rem;
    
    .pokemon-image {
      margin: 0 auto;
      padding: 0;
      width: 50%;
    }
  }
  
  ul.pokemon-list {
    list-style-type: none;
    margin: 0;
    padding: 0 0 3em;
    
    li {
      display: inline-block;
      text-align: center;
    }
  }
  
  .pagination {
    margin: 2em 0 0 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    
    li {
      display: inline-block;
      width: 50%;
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }
  
}