<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>Pokemon Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/style.css">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div ng-app="pokemonApp" ng-controller="SearchController as search" class="container app">
      <header>
        <h1 class="text-center page-title">Pokemon Search</h1>
      </header>
      <div class="container" ng-init="search.init()">
        <div class="row">
          <div class="col col-sm-10 offset-sm-1">
            <input type="text" class="w-100 searchbar text-center" ng-model="searchTerm" ng-model-options='{ debounce: 500 }' ng-change="search.search()" placeholder="Please enter the pokemon name or color to search" />
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col col-sm-10 offset-sm-1">
            <h4 ng-show="nonefound" class="alert alert-danger text-center">Pokémon with that name does not exist.</h4>
            <div ng-show="pokemonfound" class="row pokemon-profile">
              <div class="col col-6 offset-3 text-center">        
                <h2>{{ pokemonInfo.name }}</h2>
                <p><b>Height:</b> {{ pokemonInfo.height }}, <b>Weight:</b> {{ pokemonInfo.weight }}</p>
                <img class="pokemon-image" ng-src="{{pokemonInfo.image}}" alt="pokemonImage"/>
                <hr />
                <a href="#" class="btn btn-secondary" ng-click="search.init()">go back</a>
              </div>
            </div>
            <div ng-show="pokemons" class="row">
              <div class="col col-12 text-center">
                <br /><a href="#" ng-click="search.sortingToggle()" class="btn btn-primary">Sort list alphabetically</a><br /><br />
                <ul class="pokemon-list">
                  <li ng-repeat="pokemon in pokemons | orderBy: (sortListAlphabetically? 'name': '')" class="col col-sm-6">
                    <a href="#" ng-click="search.showPokemon(pokemon.name)">{{pokemon.name}}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div ng-show="allPokemons" class="row">
              <ul class="pagination">
                <li><a href="#" ng-click="search.goTo(previous)" ng-class="{disabled: previous == null}" class="btn btn-secondary w-50">previous</a></li>
                <li><a href="#" ng-click="search.goTo(next)" ng-class="{disabled: next == null}" class="btn btn-secondary w-50">next</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-route.min.js'></script>
    <script  src="js/index.js"></script>
    <script  src="controllers/search.js"></script>
  </body>
</html>
